body{
    background: white;
}

#contenido{
    width: 100%;
    height: 85vh;
    float: left;
    transition: all 0.5s ease-in-out;
}

/*-----------Barra busqueda----------*/

#tabla_busqueda{
    margin-left: 10px;
    height: 44px;
}

#input_busqueda{
    padding: 2% 2%;
    border: none;
    border-bottom: 2px solid gray;
    width: 95%;
    outline: none;
    font-size: 18px;
    cursor: text;
}

#input_busqueda::placeholder{
    color:rgb(128, 128, 128);
    transition: all 0.3s ease-out;
}

#input_busqueda:focus{
    border-bottom: 2px solid #13c52e;
  }

#input_busqueda:focus::placeholder{
    color:rgb(128, 128, 128,0);
    transition: all 0.3s ease-out;
}

#search_icon{
    font-size: 28px;
    color: gray;
}

#search_icon:hover{
    filter: drop-shadow(1px 1px 5px #8EEC92);
    color: #13c52e;
    cursor: pointer;
}

.radioBusquedaSpan{
    font-size: 14px;
    font-weight: 600;
    color: rgb(71, 71, 71);
}

/*-----------Tabla archivos----------*/

#tabla_archivos_header{
    height: 30px;
    border-spacing:0 0px; 
    width: 100%; 
}

#tabla_archivos_header th{
    text-align: start;
    background-color: white;
    padding: 5px 5px;
    width: 23vw;
}

#table-scroll {
    margin: 0 10px 0px 10px;
    height: 60vh;
    overflow:auto;  
}

#tabla_archivos{
    border-collapse:separate;
    border-spacing:0px 0px;  
    table-layout: fixed; 
    white-space: nowrap;
}

#tabla_archivos td{
    padding: 5px 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid rgb(173, 173, 173);
}

#tabla_archivos tr:hover{
    filter: brightness(0.95);
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.fecha, .tamano{
    color: gray;
}

#tabla_archivos tr:nth-child(even) {background: #E5F6EC} /*#EFEFEF*/
#tabla_archivos tr:nth-child(odd) {background: #E5F6EC}

/*----------Barra lateral--------*/

#lateral{
    height: calc(80vh + 44px);
    background-color: #C4C4C4;
    display: flex;
    text-align: center;
    overflow-x: hidden;
    position: absolute;
    visibility: hidden;
}

/*----------Footer----------*/

footer{
    background-color: #6A6A6A;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_subir{
    font-size: 16px;
}

#file-icon{
    font-size: 10vw;
}


@media (max-width:990px){
    #tabla_archivos, #tabla_archivos_header, #input_busqueda, #search_icon, .radioBusquedaSpan, #lateral, .fa{
        font-size: 1.7vw;
    }

    #lateral{
        align-items: start;
    }

}

@media (max-height:550px){
    #table-scroll{
        height: 350px !important;
    }

    #lateral{
        height: calc(20vh + 394px);
        font-size: 12px;
    }

}

@media (max-width:990px){
    .dataTables_length, .dataTables_filter{
        width: auto;
    }
    .dataTables_length *, .dataTables_filter *, .dataTables_paginate *, .dataTables_info, .dataTables_paginate{
        font-size: 1.6vw;
        padding: 1px !important;
        height: auto;
        margin: 0 !important;
    }
}
