*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #D5FAE8;
    background: url('../images/bg2.jpg') no-repeat;
    background-size: cover;
    width: 100%;
}


header{
    display: flex;
    background-color: #D5FAE8; /*#577064*/
    padding: 12px;
    height: 10vh;
    /*float: left;*/
}

#logo{
    height: 10vh;
    transition: all 0.1s ease-in-out;
}

#logo:hover{
    cursor:pointer;
    filter: drop-shadow(0px 0px 20px #44dd44);
}

/*nav{
    background-color: #D5FAE8;
    text-align: end;
    height: 10vh;
    padding: 12px;
    font-size: 50px;
}*/



.btn1{
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-radius: 0;
    padding: 2vh 3vw;
    font-size: large;
}

.btn1:hover{
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
}

.btn2{
    background-color: #8EEC92;
    border: none;
    padding: 10px 15px;
}

.btn2:hover{
    box-shadow: 1px 1px 3px black;
}

li{
    list-style-type: none;  
}

.inpt1{
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
    font-size: 16px;
    padding: 4px 5px;
    margin-top: 4px;
}

#logout{
    cursor: pointer;
    color: white;
    background: gray;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    position: absolute;
    bottom: 0;
    right: 0;
}

#logout:hover{
    background-color: rgb(109, 109, 109);
}

#aux{
    position: relative;
    width: 100%;
    text-align: end;
}

@media (max-width:990px){
    .btn1, #usuario{
        padding: 1vw;
        font-size: 2.5vw;
    }
    #logout{
        font-size: 1.8vw;
        padding: 2px;
    }
}
