*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #D5FAE8;
    background: url('../images/bg2.jpg') no-repeat;
    background-size: cover;
}


header{
    background-color: #D5FAE8; /*#577064*/
    padding: 12px;
    height: 10vh;
    /*float: left;*/
}

#logo{
    height: 10vh;
}

#logo:hover{
    cursor:pointer;
}

/*nav{
    background-color: #D5FAE8;
    text-align: end;
    height: 10vh;
    padding: 12px;
    font-size: 50px;
}*/



.btn1{
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-radius: 0;
    padding: 2vh 3vw;
    font-size: large;
}

.btn1:hover{
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
}

.btn2{
    background-color: #8EEC92;
    border: none;
    padding: 10px 30px;
}

.btn2:hover{
    box-shadow: 1px 1px 3px black;
}

li{
    list-style-type: none;  
}

.inpt1{
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
    font-size: 16px;
    padding: 4px 5px;
    margin-top: 4px;
}

@media (max-width:990px){
    .btn1{
        padding: 1vw;
        font-size: 2.5vw;
    }
}