<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="styles/file-stats.css">


<div id="contenido">
    <br><h2>archivo.txt</h2>
    <div id="grafica" style="">
        <canvas id="miGrafica" width="100px" height="80px"></canvas>
    </div>
</div>
<footer>
    Palabras: <br>
    <b>1243</b><br>
    Parrafos: <br>
    <b>12</b><br>
    Lineas: <br>
    <b>84</b><br>
</footer>




<script type="text/javascript" src="js/chart.js"></script>


