<table>
    <tr>
        <td>
            <form>
                <input type="text">
            </form>
        </td>
        <td>
            <span>Buscar por título</span>
            <span>Buscar por contenido</span>
        </td>
    </tr>
</table>