<link rel="stylesheet" href="styles/index.css">

<div id="contenido">

<table id="tabla_busqueda" width="100%">
    <form>
    <tr>
        <td width="30%"> <input id="input_busqueda" type="text" placeholder="Buscar archivo"> </td>
        <td width="5%"> <ion-icon id="search_icon" name="search"></ion-icon></ion-icon> </td>
        <td>
            <ul>
                <li>
                    <input class="radioBusqueda" type="radio" name="opcion"> <span class="radioBusquedaSpan">Buscar por título</span>
                </li>
                <li>
                    <input class="radioBusqueda" type="radio" name="opcion"> <span class="radioBusquedaSpan">Buscar por contenido</span>
                </li>
            </ul>
        </td>
    </tr>
    </form>
</table>

<table id="tabla_archivos_header">
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Tamaño</th>
      <th>Autor</th>
  </tr>
</table>

<div id="table-scroll">
<table id="tabla_archivos" width="100%">
    <tr>
      <td>nombre_archivo.formato</td>
      <td>04/10/2021 20:04</td>
      <td>10kb</td>
      <td>Everardo</td>
    </tr>
    <tr>
      <td>nombre_archivo.formato</td>
      <td>04/10/2021 20:04</td>
      <td>10kb</td>
      <td>Everardo</td>
    </tr>
    <tr>
      <td>nombre_archivo.formato</td>
      <td>04/10/2021 20:04</td>
      <td>10kb</td>
      <td>Everardo</td>
    </tr>
    <tr>
      <td>nombre_archivo.formato</td>
      <td>04/10/2021 20:04</td>
      <td>10kb</td>
      <td>Everardo</td>
    </tr>
    <tr>
      <td>nombre_archivo.formato</td>
      <td>04/10/2021 20:04</td>
      <td>10kb</td>
      <td>Everardo</td>
    </tr>
    <tr>
      <td>nombre_archivo.formato</td>
      <td>04/10/2021 20:04</td>
      <td>10kb</td>
      <td>Everardo</td>
    </tr>
    <tr>
      <td>nombre_archivo.formato</td>
      <td>04/10/2021 20:04</td>
      <td>10kb</td>
      <td>Everardo</td>
    </tr>
    <tr>
      <td>nombre_archivo.formato</td>
      <td>04/10/2021 20:04</td>
      <td>10kb</td>
      <td>Everardo</td>
    </tr>

</table>
</div>

<footer>
        <button id="btn_subir" class="btn1">Subir archivo</button>
</footer>

</div>

<aside id="lateral">
  <div style="margin: 10px; width:100%"> 
    <ion-icon id="file-icon" name="document-sharp"></ion-icon><br><br>
    <table>
      <li><b>Detalles</b></li><br>
      <li>Nombre del archivo:</li><br>
      <li>Tipo de archivo:</li><br>
      <li>Tamaño:</li><br>
      <li>Fecha de creación:</li><br>
      <li>Modificación:</li><br>
      <li><button class="btn1">Descargar</button></li><br>
      <li><button class="btn1">Visualizar</button></li><br>
    </table>
  </div>
</aside>



