<link rel="stylesheet" href="styles/login.css">

<div id="contenido">
    <div id="iniciar_sesion">
        <div id="login_body">
            <form action="/iniciar-sesion" method="POST">
                <ul>
                    <li>
                        <span>Usuario</span><br>
                        <input class="inpt1" id="usuario" type="text" name="usuario"><br>
                    </li>
                    <li>
                        <span>Contraseña</span><br>
                        <input class="inpt1" id="contrasena" type="password" name="contrasena"><br>
                    </li>
                    <li>
                        <button class="btn2" id="btn_iniciar">Iniciar sesión</button>
                    </li>
                    <li>
                        <a href="#">Recuperar contraseña</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>