<link rel="stylesheet" href="styles/subir-archivo.css">




<body>
    <div class="div_contenedor"><br>
        {{#if errorMsg}}
            <div>{{errorMsg}}</div>
        {{/if}}
        <div class="drop-area">
            <div id="progress_bar">
                <div class="percent">
                    0%
                </div>
            </div>
            <div id="c1" class="columna1"><img id="nube" class="nube" src="images/nube-descarga.png" ></img></div>
            <div id="c2" class="columna2">
                <h2 style="padding-bottom: 3vw;">Subir Archivo</h2>
                <h3>Arrastra y suelta los archivos</h3>
                <span>O</span>
                <button id="btn1">Selecciona un archivo</button>
                <input type="file" id="input-file"  hidden multiple="true">
            </div>
        </div>
        <div id="preview"></div><br>
        <div id="div-btn2"><button id="btn2" onclick="sendFiles()">Subir Archivos</button></div>
    </div>

    <script type="text/javascript" src="js/selectArchivo.js"></script>

    
<script>

    async function sendFiles(){
        const input = document.getElementById('input-file')
        const formData = new FormData()
        for (var i = 0; i < list.files.length ; i++){
            formData.append(input.id, list.files[i])
        }
        
        const response = await fetch('/upload', {
        method: 'POST',
        headers: {},
        body: formData
        })
        window.location.href = 'index'; 
    }

</script>



</body>
