<link rel="stylesheet" href="styles/usercrud.css">
<script type="text/javascript" src="js/forms.js"></script>


<div id="contenido">

<table id="tabla_buscar_usuarios" width="50%">
    <form>
        <td> <input id="input_busqueda" type="text" placeholder="Buscar usuario"> </td>
        <td> <ion-icon id="search_icon" name="search"></ion-icon></ion-icon> </td>
    </form>
</table>

<table id="tabla_usuarios_header">
    <tr>
      <th class="td-user">Usuario</th>
      <th class="td-correo">Correo</th>
      <th class="td-tipo">Tipo</th>
      <th class="td-acc">Acciones</th>
  </tr>
</table>

<div id="table-scroll">
<table id="tabla_usuarios" width="100%">
    {{#each usuarios}}
    <tr>
        <td>{{usuario}}</td>
        <td>correo@correo.com</td>
        <td class="td-tipo">{{nivel}}</td>
        <td class="td-acc"><span>Modificar</span> &nbsp <span>Inhabilitar</span></td>
    </tr>
    {{/each}}

</table>
</div>

<footer>
    <div style="width:80vw; margin:auto">
    <button id="btn_nuevo_usuario" onclick="dropMenu(`tabla_form_add`)">Agregar nuevo usuario</button>
    <form name="registerForm" action="add-user" method="POST" onsubmit="return validateRegisterForm()">
            <table id="tabla_form_add" style="visibility:hidden;">
                <tr>
                    <td>Nombre</td>
                    <td>Contraseña <ion-icon name="eye-off-outline" id="showIcon" onclick="showPass(`showIcon`)"></ion-icon></td>
                    <td>Correo</td>
                    <td>Nivel</td>
                    <td></td>
                </tr>
                <tr>
                    <td><input id="input_nombre" name="nombre_registro" class="input_form" type="text" onclick="color(this)" required></td>
                    <td><input id="input_contrasena" name="contrasena_registro" class="input_form" type="password" onclick="color(this)" required></td>
                    <td><input id="input_email" name="email_registro "class="input_form" type="email" onclick="color(this)" required></td>
                    <td><input id="input_nivel" name="nivel_registro" class="input_form" type="number" min="1" max="3" value="1" onclick="color(this)" required></td>
                    <td><input type="submit" class="btn2"></td>
                </tr>
            </table>
    </form>
    </div>

</footer>




</div>



