<link rel="stylesheet" href="styles/visualizar.css">

<body>
    <div class="div_contenedor">

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">nombreDelArchivo.docx</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close" onclick="window.location='/';">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit, aenean ut commodo curae pretium felis, rutrum himenaeos neque fringilla tempus quis. Praesent fusce parturient congue non eu commodo himenaeos mollis, vulputate sem bibendum lacus suscipit natoque ut, cubilia magna porta libero cras nunc viverra. Dis in volutpat felis hendrerit orci magnis vivamus, ullamcorper torquent condimentum vitae quis mauris habitant lectus, tincidunt mi cubilia leo class curae.<br>
                    Blandit et mattis ligula maecenas cursus quis aptent hendrerit purus, montes class platea etiam dictum congue nec dignissim placerat, dui suspendisse gravida vulputate velit per rhoncus a. Ultricies netus ullamcorper torquent fermentum etiam, parturient rhoncus mauris cursus hendrerit sed, porttitor curabitur viverra molestie. Nulla placerat dictumst tempor aenean maecenas auctor ridiculus cubilia pellentesque, congue vitae platea leo massa orci mauris fringilla dapibus sed, quis condimentum imperdiet fermentum tincidunt nostra vivamus dui.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location='/';">Close</button>
            </div>
        </div>
    </div>
    </div>

    </div>
</body>
