<link rel="stylesheet" href="styles/visualizar.css">



<body>
    <div class="div_contenedor">

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">nombreDelArchivo.docx</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close" onclick="window.location='/';">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://firebasestorage.googleapis.com/v0/b/limaforsch.appspot.com/o/userFiles%2FJair%2F2.1%20Planeaci%C3%B3n%20Financiera.pdf?alt=media&token=a6ae4a41-9b03-46f9-a443-4afcbd68b878" style="width: 100%;height: 100%;border: none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location='/';">Close</button>
            </div>
        </div>
    </div>
    </div>

    </div>


</body>
